#barsCanvas{
    width: 60%;
    margin-left: 20%;
}

#waterfallCanvas{
    width: 60%;
    margin-left: 20%;
}

#startButton{
    color: white;
    background-color: lightseagreen;
    width: 23%;
    font-size: medium;
}
#stopButton{
    color: white;
    background-color: darkred;
    width: 23%;
    font-size: medium;
}


h2{
    font-weight: 100;
}